<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <style>
            nav{
                width: 300px;
                margin: 50px 30px;
                list-style-type: none;
            }
            li {
                border: 1px solid #222;
                padding: 20px 40px;
                margin: 5px;
                text-align: center
            }
            body {
                background-color:cornflowerblue;
            }
            a {
                color: black;
                text-decoration: none;
            }
        </style>
    </head>
    <header>
        <nav>
        <ul id="topMenu">
            <li> <a href="home.html"> 홈 </a></li>
            <li> <a href="matching.html"> 매칭 </a></li>
            <li> <a href="Result.html"> 결과 </a></li>
            <li> <a href="menu.html"> 메뉴 </a></li>
        </ul> 
        </nav> //가로로 배치해야함
    </header>
    <main class="YouContent">
        <body>
            <h2>상대 조건</h2>
        </body>
    </main>
   
</html>
