p {
    text-align: center;
}
fieldset {
    border: none;
}
ul {
    display: grid;
    grid-template-columns: repeat(8, 4fr);
    grid-template-rows: 30px;
}
#input {
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    background-color: aliceblue;
}
button {
    background-color: aliceblue;
    border-radius: 25%;
    border-color: aliceblue;
}
#button {
    text-align: center;
    display: grid;
    grid-row: 2;
    grid-column: 2;
    place-items: center;
    justify-content: center;
}
#Choose {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
}