@import URL('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=스왑');
            body {
                font-family: 'Nanum Brush Script', 필기체;
            }
             @media screen and (min-width: 320px) and (max-width: 1439px) {
        
                header {
                    top:0; left:0; right:0;
                    width:100%;
                    position: fixed;
                }
                #navButton {
                    display: grid;
                    grid-template-columns: repeat(4, 4fr);
                    grid-template-rows: 30px;
                }
                .nownavButton {
                    background-color: blue;
                }
                nav { 
                    display: flex;
                    list-style-type: none;
                    text-align: center;
                    background-color:cornflowerblue;
                    top:0; left:0; right:0;
                }
                li {
                    display: inline-block;
                    border-color: lightblue;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }
                body {
                    background-color:aliceblue;
                }
                a {
                    color: white;
                    text-decoration: none;
                }
                p {
                    text-align: center;
                }
                fieldset {
                    border: none;
                }
                ul {
                    display: grid;
                    grid-template-columns: repeat(8, 4fr);
                    grid-template-rows: 30px;
                }
                #form1 {
                    display: grid;
                    grid-column: 0/8;
                    grid-row: 3;
                    text-align:center;
                    width: 220px;
                    height: 100px;
                }
                #form2 {
                    display: grid;
                    grid-column: 1/5;
                    grid-row: 4;
                    text-align: left;
                }
                #input {
                    height: 30px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 3px solid black;
                    background-color: aliceblue;
                }
                button {
                    background-color: aliceblue;
                    border-radius: 25%;
                    border-color: aliceblue;
                }
                #button {
                    text-align: center;
                    display: grid;
                    grid-row: 3;
                    grid-column: 2;
                    place-items: center;
                    justify-content: center;
                }
                #Choose {
                    display: grid;
                    place-items: center;
                    justify-content: center;
                    grid-template-columns: repeat(3, 70px);
                    grid-template-rows: repeat(3, 70px);
                }
            }