@import URL('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=스왑');
            body {
                font-family: 'Nanum Brush Script', 필기체;
            }
             @media screen and (min-width: 320px) and (max-width: 1439px) {
        
                header {
                    top:0; left:0; right:0;
                    width:100%;
                    position: fixed;
                }
                #navButton {
                    display: grid;
                    grid-template-columns: repeat(4, 4fr);
                    grid-template-rows: 30px;
                }
                .nownavButton {
                    background-color: blue;
                }
                nav { 
                    display: flex;
                    list-style-type: none;
                    text-align: center;
                    background-color:cornflowerblue;
                    top:0; left:0; right:0;
                }
                li {
                    display: inline-block;
                    border-color: lightblue;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }
                body {
                    background-color:aliceblue;
                }
                a {
                    color: white;
                    text-decoration: none;
                }
                h2 {
                    grid-template-columns: 1fr;
                    text-align: center;

                }
                #start {
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-column-gap: 30px;
                    grid-row-gap: 50px;
                }
                .box1 {
                    grid-column: 1/4;
                    grid-row: 1/2;
                    display: inline-block;
                    background-color: pink;
                    border-radius: 25%;
                    text-align: center;
                    cursor : pointer;
                }
                .box2 {
                    grid-column: 4/9;
                    grid-row: 1/2;
                    display: inline-block;
                    border-radius: 25%;
                    text-align: center;
                }
                .box3 {
                    grid-column: 1/4;
                    grid-row: 2/3;
                    display: inline-block;
                    background-color: pink;
                    border-radius: 25%;
                    text-align: center;
                    cursor : pointer;
                }
                .box4 {
                    grid-column: 4/9;
                    grid-row: 2/3;
                    display: inline-block;
                    border-radius: 25%;
                    text-align: center;
                }
                .box5 {
                    grid-column: 1/4;
                    grid-row: 3/4;
                    display: inline-block;
                    background-color: pink;
                    border-radius: 25%;
                    text-align: center;
                    cursor : pointer;
                }
                .box6 {
                    grid-column: 4/9;
                    grid-row: 3/4;
                    display: inline-block;
                    border-radius: 25%;
                    text-align: center;
                }
            }