@import URL('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=스왑');
body {
    font-family: 'Nanum Brush Script', 필기체;
}
 @media screen and (min-width: 320px) and (max-width: 1439px) {
    header {
        top:0; left:0; right:0;
        width:100%;
        position: fixed;
    }
    #navButton {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        grid-template-rows: 30px;
    }
    .nownavButton {
        background-color: blue;
    }
    nav { 
        display: flex;
        list-style-type: none;
        text-align: center;
        background-color:cornflowerblue;
        top:0; left:0; right:0;
    }
    li {
        display: inline-block;
        border-color: lightblue;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    body {
        background-color:aliceblue;
    }
    a {
        color: white;
        text-decoration: none;
    }
    #matching {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
    }
    .box1 {
        grid-column: 4/6;
        grid-row: 2;
        display: inline-block;
        text-align: center;
    }
    .box2 {
        grid-column: 2/8;
        grid-row: 3;
        display: inline-block;
        text-align: center;
    }
    #box3 {
        grid-column: 3/7;
        grid-row: 4;
        display: inline-block;
        border-radius: 25%;
        background-color: pink;
        text-align: center;
        opacity: 0;
    }
    #box4 {
        grid-column: 3/7;
        grid-row: 4;
        display: inline-block;
        text-align: center;
        opacity: 0;
    }
    #box5 {
        grid-column: 1/5;
        grid-row: 6;
        display: inline-block;
        border-radius: 25%;
        background-color: pink;
        text-align: center;
        opacity: 0;
    }
    #box6 {
        grid-column: 5/9;
        grid-row: 6;
        display: inline-block;
        border-radius: 25%;
        background-color: pink;
        text-align: center;
        opacity: 0;
    }
    #box7 {
        grid-column: 1/5;
        grid-row: 6;
        display: inline-block;
        border-radius: 25%;
        background-color: pink;
        text-align: center;
        opacity: 0;
    }
    #box8 {
        grid-column: 5/9;
        grid-row: 6;
        display: inline-block;
        border-radius: 25%;
        background-color: pink;
        text-align: center;
        opacity: 0;
    }
 }