@import URL('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=스왑');
body {
    font-family: 'Nanum Brush Script', 필기체;
}
 @media screen and (min-width: 320px) and (max-width: 1439px) {

    header {
        top:0; left:0; right:0;
        width:100%;
        position: fixed;
    }
    #navButton {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        grid-template-rows: 30px;
    }
    .nownavButton {
        background-color: blue;
    }
    nav { 
        display: flex;
        list-style-type: none;
        text-align: center;
        background-color:cornflowerblue;
        top:0; left:0; right:0;
    }
    li {
        display: inline-block;
        border-color: lightblue;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    body {
        background-color:aliceblue;
    }
    a {
        color: white;
        text-decoration: none;
    }
    h2 {
        grid-template-columns: 1fr;
        text-align: center;

    }
    #my {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 4fr);
        grid-template-rows: 30px;
    }
    fieldset {
        border: none;
    }
    
    p {
        display: inline-block;
        background-color: pink;
        border-radius: 25%;
        text-align: center;
        cursor : pointer;
    }

    button {
        background-color: aliceblue;
        border-radius: 25%;
        border-color: aliceblue;
    }
    #button {
        text-align: center;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(8, 4fr);
        grid-template-rows: 30px;
    }
    #str {
        display: grid;
        text-align: left;
        font-size: 20px;
        font-style: bold;
        grid-column: 1/8;
        grid-row: 2;
    }
    #form {
        display: grid;
        grid-column: 1/5;
        grid-row: 3;
        text-align: left;
    }
    #input {
        height: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid black;
        background-color: aliceblue;
    }
    #input2 {
        width:200px;
        height: 200px;
        border-radius: 25%;
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        background-color: aliceblue;
        background-color: pink;
    }
}