@import URL('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=스왑');
            body {
                font-family: 'Nanum Brush Script', 필기체;
            }
             @media screen and (min-width: 320px) and (max-width: 1439px) {
                header {
                    top:0; left:0; right:0;
                    width:100%;
                    position: fixed;
                }
                #navButton {
                    display: grid;
                    grid-template-columns: repeat(4, 4fr);
                    grid-template-rows: 30px;
                }
                nav { 
                    display: flex;
                    list-style-type: none;
                    text-align: center;
                    background-color:cornflowerblue;
                    top:0; left:0; right:0;
                }
                li {
                    display: inline-block;
                    border-color: lightblue;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }
                body {
                    background-color:aliceblue;
                }
                a {
                    color: white;
                    text-decoration: none;
                }
                h2 {
                    grid-template-columns: 1fr;
                    text-align: center;

                }
                #Info {
                    background-color: pink;
                    font-size: medium;
                    text-align: left;
                }
                #Info2 {
                    background-color: pink;
                    font-size: medium;
                    text-align: left;
                }
             }