nav{
    width: 300px;
    margin: 50px 30px;
    list-style-type: none;
}
li {
    border: 1px solid #222;
    padding: 20px 40px;
    margin: 5px;
    text-align: center
}
body {
    background-color:cornflowerblue;
}
a {
    color: black;
    text-decoration: none;
}