<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/army.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <script src="{% static 'myapp/js/Function.js' %}"></script>
      <br><br>
      <p>군/미필을 선택해주세요</p>

      <form id="Choose">
        <ul>
          <input type=radio id="1" name="army" value="go" > <label for = "1"> 군필 </label>
          <input type=radio id="2" name="army" value="nongo" > <label for = "2"> 미필 </label>
        </ul>
        <br>
        <div id="button">
          <button type="button" onclick="ageSubmit();">
            제출
          </div>
        </form>
        <script>
          const form = document.getElementById("Choose");

          function ageSubmit() {
            form.submit();
            location.href = '/alonechoose2/';
          }
        </script>
      </body>
    </main>

  </html>
