<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/body.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <script src="{% static 'myapp/js/Function.js' %}"></script>
      <br><br>
      <p>원하는 체형을 선택해주세요</p>

      <form id="Choose">
        <label>
          <input type="checkbox" value="마름">
          마름
        </label>
        <label>
          <input type="checkbox" value="보통">
          보통
        </label>
        <br>
        <label>
          <input type="checkbox" value="통통">
          통통
        </label>
        <label>
          <input type="checkbox" value="탄탄">
          탄탄
        </label>
        <div id="button">
          <button type="button" onclick="ageSubmit();">
            제출
          </div>
        </form>
        <script>
          const form = document.getElementById("Choose");

          function ageSubmit() {
            form.submit();
            location.href = '/alonechoose2/';
          }
        </script>
      </body>
    </main>

  </html>
