<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/choose.css' %}">
  {% include 'myapp/index.html' %}
  <main class="Choose">

    <body>
      <br><br>
      <h2>원하는 버튼을 클릭해주세요!</h2>
      <br><br>
      <div id="meet">
        <div class="box1" onclick="AloneFun();">
          소개팅하기!
        </div>
        <div class="box2" onclick="MeetingFun();">
          미팅하기!
        </div>

        <script>
          function AloneFun() {
            location.href = "/alonechoose/";
          }

          function MeetingFun() {
            location.href = "/meeting/";
          }
        </script>
      </body>
    </main>

  </html>
