<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/eyes.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <script src="{% static 'myapp/js/Function.js' %}"></script>
      <br><br>
      <p>유/무쌍과 얼굴상을 선택해주세요</p>

      <form id="Choose">
        <ul> 
        <input type="radio" id="1" name="eyes" value="유쌍" > <label for = "1"> 유쌍 </label>
        <input type="radio" id="2" name="eyes" value="무쌍"> <label for = "2">  무쌍 </label>
        <input type="radio" id="3" name="face" value="두부" > <label for = "3"> 두부상 </label>
        <input type="radio" id="4" name="face" value="뚜렷"> <label for = "4"> 뚜렷상 </label>
        </ul>
        <br>
        <div id="button">
          <button type="button" onclick="ageSubmit();">
            제출
          </div>
        </form>
        <script>
          const form = document.getElementById("Choose");

          function ageSubmit() {
            form.submit();
            location.href = '/alonechoose2/';
          }
        </script>
      </body>
    </main>

  </html>
