<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/hobby.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <script src="{% static 'myapp/js/Function.js' %}"></script>
      <br><br>
      <p>관심사를 선택해주세요</p>

      <form id="Choose">
        <label>
          <input type="checkbox" value="운동">
          운동
        </label>
        <label>
          <input type="checkbox" value="맛집탐방">
          맛집탐방
        </label>
      </form>
      <br>
      <div id="button">
        <button type="button" onclick="ageSubmit();">
          제출
        </div>
        <script>
          const form = document.getElementById("Choose");

          function ageSubmit() {
            form.submit();
            location.href = '/alonechoose2/';
          }
        </script>
      </body>
    </main>

  </html>
