<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/major.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <script src="{% static 'myapp/js/Function.js' %}"></script>
      <br><br>
      <p>원하는 학과를 선택해주세요</p>
      <br><br>

      <form id="Choose">
          <input type="checkbox" name="major" id="1" value="liberal"> <label for="1"> 문과대 </label>
          <input type="checkbox" name="major" id="2" value="science"> <label for="2"> 이과대 </label>
          <input type="checkbox" name="major" id="3" value="education"> <label for="3"> 사범대 </label>
          <input type="checkbox" name="major" id="4" value="physical"> <label for="4"> 체대 </label>
          <input type="checkbox" name="major" id="5" value="art"> <label for="5"> 미대 </label>
          <input type="checkbox" name="major" id="6" value="entertain"> <label for="6"> 예대 </label>
          <input type="checkbox" name="major" id="7" value="music"> <label for="7"> 음대 </label>
          <input type="checkbox" name="major" id="8" value="medicine"> <label for="8"> 의/약대 </label>
          <input type="checkbox" name="major" id="9" value="special"> <label for="9"> 특수대 </label>   
      </form>
      <br>
      <div id="button">
        <button type="button" onclick="ageSubmit();">
          제출
        </div>
        <script>
          const form = document.getElementById("Choose");

          function ageSubmit() {
            form.submit();
            location.href = '/alonechoose2/';
          }
        </script>
      </body>
    </main>

  </html>
