<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/mbti.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <script src="{% static 'myapp/js/Function.js' %}"></script>
      <br><br>
      <p>원하는 mbti 선택해주세요</p>

      <form id="Choose">
        <label>
          <input type="checkbox" value="esfj">
          esfj
        </label>
        <label>
          <input type="checkbox" value="esfp">
          esfp
        </label>
        <label>
          <input type="checkbox" value="estj">
          estj
        </label>
        <label>
          <input type="checkbox" value="estp">
          estp
        </label>
        <label>
          <input type="checkbox" value="enfj">
          enfj
        </label>
        <label>
          <input type="checkbox" value="enfp">
          enfp
        </label>
        <label>
          <input type="checkbox" value="entj">
          entj
        </label>
        <label>
          <input type="checkbox" value="entp">
          entp
        </label>
        <br>
        <label>
          <input type="checkbox" value="isfj">
          isfj
        </label>
        <label>
          <input type="checkbox" value="isfp">
          isfp
        </label>
        <label>
          <input type="checkbox" value="istj">
          istj
        </label>
        <label>
          <input type="checkbox" value="istp">
          istp
        </label>
        <label>
          <input type="checkbox" value="infj">
          infj
        </label>
        <label>
          <input type="checkbox" value="infp">
          infp
        </label>
        <label>
          <input type="checkbox" value="intj">
          intj
        </label>
        <label>
          <input type="checkbox" value="intp">
          intp
        </label>
      </form>
      <br>
      <div id="button">
        <button type="button" onclick="ageSubmit();">
          제출
        </div>
        <script>
          const form = document.getElementById("Choose");

          function ageSubmit() {
            form.submit();
            location.href = '/alonechoose2/';
          }
        </script>
      </body>
    </main>

  </html>
