<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/meeting2.css' %}">
  {% include 'myapp/index.html' %}
  <main class="Hongik">

    <body>
      <br><br>
      <h2>
        <span style="color: rgb(241, 48, 128)">필수 정보</span>를 입력해주세요!</h2>
      <script>
        function checkAll() {
          var checkjobs = document.getElementsByName("job");
          var submit_job = [];

          var checklocations = document.getElementsByName("location");
          var submit_location = [];

          var checkages = document.getElementsByName("age");
          var submit_age = [];

          for (var i = 0; i < checkjobs.length; i++) {
            if (checkjobs[i].checked) {
              submit_job.push(checkjobs[i].value);
            }
          }

          for (var i = 0; i < checklocations.length; i++) {
            if (checklocations[i].checked) {
              submit_location.push(checklocations[i].value);
            }
          }

          for (var i = 0; i < checkages.length; i++) {
            if (checkages[i].checked) {
              submit_age.push(checkages[i].value);
            }
          }

          document
            .getElementById("submit_job")
            .value = submit_job.join(",");
          document
            .getElementById("submit_location")
            .value = submit_location.join(",");
          document
            .getElementById("submit_age")
            .value = submit_age.join(",");

          return true;
        }
      </script>
      <form id="MyForm" action='/meeting2/' method="post" onsubmit="return checkAll()">
        <fieldset>
          <ul>
            <p>
              <strong>미팅 신청자의 직업</strong>
            </p>
            <input type="checkbox" id="ch1" name="job" value="대학생">
            <label for="ch1">
              대학생
            </label>
            <input type="checkbox" id="ch2" name="job" value="대학원생">
            <label for="ch2">
              대학원생
            </label>
            <br>
            <input type="checkbox" id="ch3" name="job" value="취준생">
            <label for="ch3">
              취준생
            </label>
            <input type="checkbox" id="ch4" name="job" value="직장인">
            <label for="ch4">
              직장인
            </label>
            <span style="color:rgb(241, 48, 128)">
              <p>ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ</p>
            </span>

            <p>
              <strong>미팅을 원하는 지역</strong>
            </p>
            <input type="checkbox" id="ch5" name="location" value="서울서부">
            <label for="ch5">
              서울 서부
            </label>
            <input type="checkbox" id="ch6" name="location" value="서울동부">
            <label for="ch6">
              서울 동부
            </label>
            <br>
            <input type="checkbox" id="ch7" name="location" value="서울남부">
            <label for="ch7">
              서울 남부
            </label>
            <input type="checkbox" id="ch8" name="location" value="서울북부">
            <label for="ch8">
              서울 북부
            </label>
          </p>
          <span style="color:rgb(241, 48, 128)">
            <p>ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ</p>
          </span>
          <p>
            <strong>미팅 참여자의 평균 나이</strong>
          </p>

          <input type="range" name="age" min="20" max="30" oninput="document.getElementById('output1').innerHTML=this.value;"/>
          <br>
          <span id="output1"></span>
        </ul>
      </fieldset>
      <p id="one">제출 버튼을 누르면 매칭 신청이 됩니다!</p>
      <br>
      <input type="hidden" name="submit_job" id="submit_job">
      <input type="hidden" name="submit_location" id="submit_location">
      <input type="hidden" name="submit_age" id="submit_age">
      <div id="button">
        <button type="submit">
          제출
        </label>
      </div>
    </body>
  </main>

</html>