<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/myinfo.css' %}">
  {% include 'myapp/index.html' %}
  <main class="YouInfo">

    <body>
      <br><br>
      <h2>내 정보</h>
      <br><br>
      <div id="Info">
        <p>나이:{{age}}
        </p>
        <!-- 이런 식으로 백에서 데이터 받아와서 출력 -->
        <p>미팅 인원수:{{peoplenum}}
        </p>
        <p>직업:{{job}}
        </p>
        <p>학교와 학과:{{graduate}}
        </p>
        <p>mbti:{{mbti}}
        </p>
        <p>군/미필:{{army}}
        </p>
        <p>키:{{height}}
        </p>
        <p>체형:{{body}}
        </p>
        <p>유/무쌍:{{eyes}}
        </p>
        <p>얼굴상:{{face}}
        </p>
        <p>관심사:{{hobby}}
        </p>
      </div>
      <div id="Info2">
        <p>자유로운 자기소개:{{self_description}}
        </p>
      </div>
      <br>
      <div class="box1" onclick="gomyInfo();">
          <strong>정보 변경</strong>
      </div>
      <script>
        function gomyInfo() {
          location.href = '/my/';
        }
      </script>
    </body>
  </main>

</html>

</html>
